<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fullsail.terramon" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".AppClass"
        android:allowBackup="true"
        android:icon="@mipmap/terramon_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.LauncherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.GameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_settings"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Activities.InventoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_inventory"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Activities.MonstersActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_monsters"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Activities.ShopActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_shop"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Activities.CatchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_catch"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".SpawnService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


    </application>

</manifest>
